.testimonios {
    background: linear-gradient(to bottom, #f5f5f5 0%, #adadad 5%, #adadad 95%, #f5f5f5 100%);
    padding:80px 20px;
    text-align:center;
    overflow:hidden;
}

.testimonios h2{

    margin-bottom:40px;

}